
%section {
  padding-bottom: 94px;
  padding-top: 94px;
  //taras
height: 100vh;
  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

%title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

