<section class="about about-overlay">
  <div class="container">
    <h2 class="about_paragraph">About me</h2>
    <p class="about_text about_text-small">
      I'm Nadia from Ukraine. I am 44 years old. I'm a mother of three wonderful
      sons. I'm a Christian and an artist.
    </p>
    <p class="about_text">
      My calling is to be a light to the world. Besides that, God has gifted me
      with the talent to reflect a fragment of the beauty, grandeur, and
      unmatched creation in His canvas.
    </p>
    <p class="about_text">
      Unforgettable, vibrant childhood and youth were spent first in art school
      and later in the Uzhhorod College of Arts and Crafts. In the foothills of
      the picturesque Carpathian Mountains. In a creative atmosphere, among
      talented professional artists. After college, I worked as a master of
      production training and a teacher of drawing, painting, and composition.
      Later, I worked as a portrait artist at the G_Art_Ukraine studio for Paint
      your life.
    </p>
    <p class="about_text">
      Happiness and satisfaction come from bringing joy to others. Because every
      person is wonderfully beautiful and unique! The image, the gaze, the
      smile..
    </p>

    <picture class="about_photo">
      <source
        srcset="
          ./images/project/aboutme1xtel.jpg 1x,
          ./images/project/aboutme2xtel.jpg 2x
        "
        media="(max-width: 767px )"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/project/aboutme1xdesk.jpg 1x,
          ./images/project/aboutme2xdesk.jpg 2x
        "
        media="(min-width: 768px )"
        type="image/jpeg"
      />
      <img
        class="about_photo-default"
        src="./images/project/aboutme1xdesk.jpg"
        alt="woman"
        loading="lazy"
        width=""
      />
    </picture>
  </div>
</section>