<section class="hero">
  <div class="container">
    <h1 class="hero-title">TURN YOUR PHOTO INTO ART</h1>
    <div class="hero-container">
      <div>
        <h2 class="hero-text">
          Art Page of
          <span class="hero-text__name">Nadia Lysak</span>
        </h2>
        <button type="button" class="hero-button desktop-btn" data-modal-open>
          Order a painting
        </button>
      </div>
      <div class="hero-image-box">
        <img
          class="hero-image-one"
          srcset="
            ./images/art/hero-img-1.jpg    1x,
            ./images/art/hero-img-1@2x.jpg 2x
          "
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 354px, (min-width: 390px) 208px, 100vw"
          src="./images/art/hero-img-1.jpg"
          alt="Опис зображення для усіх версій"
        />
        <img
          class="hero-image-two"
          srcset="
            ./images/art/hero-img-2.jpg    1x,
            ./images/art/hero-img-2@2x.jpg 2x
          "
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 354px, (min-width: 390px) 166px, 100vw"
          src="./images/art/hero-img-2.jpg"
          alt="Опис зображення для усіх версій"
        />
      </div>
      <button type="button" class="hero-button mobile-btn" data-modal-open>
        Order a painting
      </button>
      <img
        src="./images/art/hero-brush-img.png"
        class="hero-brush-img"
        alt="brush"
        width="450"
      />
    </div>
  </div>
</section>

<section class="about about-overlay">
  <div class="container">
    <h2 class="about_paragraph">About me</h2>
    <p class="about_text about_text-small">
      I'm Nadia from Ukraine. I am 44 years old. I'm a mother of three wonderful
      sons. I'm a Christian and an artist.
    </p>
    <p class="about_text">
      My calling is to be a light to the world. Besides that, God has gifted me
      with the talent to reflect a fragment of the beauty, grandeur, and
      unmatched creation in His canvas.
    </p>
    <p class="about_text">
      Unforgettable, vibrant childhood and youth were spent first in art school
      and later in the Uzhhorod College of Arts and Crafts. In the foothills of
      the picturesque Carpathian Mountains. In a creative atmosphere, among
      talented professional artists. After college, I worked as a master of
      production training and a teacher of drawing, painting, and composition.
      Later, I worked as a portrait artist at the G_Art_Ukraine studio for Paint
      your life.
    </p>
    <p class="about_text">
      Happiness and satisfaction come from bringing joy to others. Because every
      person is wonderfully beautiful and unique! The image, the gaze, the
      smile..
    </p>

    <picture class="about_photo">
      <source
        srcset="
          ./images/project/aboutme1xtel.jpg 1x,
          ./images/project/aboutme2xtel.jpg 2x
        "
        media="(max-width: 767px )"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/project/aboutme1xdesk.jpg 1x,
          ./images/project/aboutme2xdesk.jpg 2x
        "
        media="(min-width: 768px )"
        type="image/jpeg"
      />
      <img
        class="about_photo-default"
        src="./images/project/aboutme1xdesk.jpg"
        alt="woman"
        width=""
      />
    </picture>
  </div>
</section>

<!-- SECTION VERSE -->
<section class="verse">
  <div class="container">
    <picture class="">
      <source
        srcset="
          ./images/project/verseUp1xtel.jpg 1x,
          ./images/project/verseUp2xtel.jpg 2x
        "
        media="(max-width: 767px )"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/project/verseUp1xDesk.jpg 1x,
          ./images/project/verseUp2xDesk.jpg 2x
        "
        media="(min-width: 768px )"
        type="image/jpeg"
      />
      <img
        class="verse_arrow"
        src="./images/project/verseUp1xtel.jpg"
        alt="arrow"
        width=""
      />
    </picture>

    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <picture class="">
      <source
        srcset="
          ./images/project/verseDown1xtel.jpg 1x,
          ./images/project/verseDown2xtel.jpg 2x
        "
        media="(max-width: 767px )"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/project/verseDown1xDesk.jpg 1x,
          ./images/project/verseDown2xDesk.jpg 2x
        "
        media="(min-width: 768px )"
        type="image/jpeg"
      />
      <img
        class="verse_arrow"
        src="./images/project/verseDown1xtel.jpg "
        alt="arrow"
        width=""
      />
    </picture>
  </div>
</section>

<!-- section Ukr -->
<section class="ukr ukr-overlay">
  <div class="container">
    <div class="ukr-box">
      <picture class="ukr_picture">
        <source
          srcset="
            ./images/project/Ukraine1xtel.jpg 1x,
            ./images/project/Ukraine2xtel.jpg 2x
          "
          media="(max-width: 767px )"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/project/Ukraine1xDesk.jpg 1x,
            ./images/project/Ukraine2xDesk.jpg 2x
          "
          media="(min-width: 768px )"
          type="image/jpeg"
        />
        <img
          class="ukr-photo"
          src="./images/project/Ukraine1xDesk.jpg"
          alt="God! Save Ukraine!"
          width=""
        />
      </picture>
      <picture class="ukr_bckg">
        <source
          srcset="
            ./images/project/bgUkr1xTel.jpg 1x,
            ./images/project/bgUkr2xTel.jpg 2x
          "
          media="(max-width: 767px )"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/project/urkBckgrDesk1x.jpg 1x,
            ./images/project/urkBckgrDesk2x.jpg 2x
          "
          media="(min-width: 768px )"
          type="image/jpeg"
        />
        <img
          class=""
          src="./images/project/bgUkr1xTel.jpg"
          alt="woman"
          width=""
        />
      </picture>
      <p class="ukr_text ukr_text-one-story">
        But the terrible war has left its mark. ...Deep pain, unspeakable
        suffering, loss, and devastation.The air is filled with anxiety,
        explosions are heard, and you don't know if tomorrow will come...There's
        only one wish: God! Preserve Ukraine! Stop the war! And may our loved
        ones return alive
      </p>
    </div>
    <p class="ukr_text ukr_text-two-story">
      Sometimes, your life's path takes you where you didn't plan and didn't
      expect. That's what happened in my life. I am currently in the United
      States, in the cozy suburbs of Portland, Oregon. Beautiful landscapes,
      mountains, forests, rivers, lakes, waterfalls, and the vast ocean – all
      created by the Lord, the magnificent and unparalleled, perfect Artist
    </p>

    <picture class="ukr_arrow">
      <source
        srcset="
          ./images/project/verseUrk1xtel.jpg 1x,
          ./images/project/verseUrk2xtel.jpg 2x
        "
        media="(max-width: 767px )"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/project/verseUrk1xDesk.jpg 1x,
          ./images/project/verseUrk2xDesk.jpg 2x
        "
        media="(min-width: 768px )"
        type="image/jpeg"
      />
      <img
        class=""
        src="./images/project/verseUrk1xtel.jpg"
        alt="arrow"
        width=""
      />
    </picture>

    <div class="ukr_verse-block">
      <picture class="ukr_coma">
        <source
          srcset="
            ./images/project/coma1xTel.jpg 1x,
            ./images/project/coma2xTel.jpg 2x
          "
          media="(max-width: 767px )"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/project/coma1xDesk.jpg 1x,
            ./images/project/coma2xDesk.jpg 2x
          "
          media="(min-width: 768px )"
          type="image/jpeg"
        />
        <img
          class=""
          src="./images/project/coma1xDesk.jpg"
          alt="arrow"
          width=""
        />
      </picture>
      <div>
        <p class="ukr_verse-text">You can't live in the world without a goal</p>
        <p class="ukr_verse-text">You can't achieve without ambition</p>
        <p class="ukr_verse-text">You can't pray without belief</p>
        <p class="ukr_verse-text">You can't love without feeling</p>
        <p class="ukr_verse-text">You can't create without inspiration</p>
      </div>
    </div>
  </div>
</section>

<!-- SECTION PROCESS -->
<section class="process">
  <div class="container">
    <h2 class="process_title">The process of creating paintings</h2>
    <div class="process_text-box">
      <picture class="process-picture">
        <source
          srcset="
            ./images/project/draw-processTel1x.jpg 1x,
            ./images/project/draw-processTel2x.jpg 2x
          "
          media="(max-width: 767px )"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/project/draw-processDesk1x.jpg 1x,
            ./images/project/draw-processDesk2x.jpg 2x
          "
          media="(min-width: 768px )"
          type="image/jpeg"
        />
        <img
          class="process-photo"
          src="./images/project/draw-processDesk1x.jpg"
          alt="Draw process"
          width=""
        />
      </picture>

      <p class="process_text">
        The first step involves outlining the face and features with light and
        dark lines, creating a foundation for my work. Breaking the face into
        blocks helps transition from general shapes to details, akin to
        constructing layers of vitality. I experiment with gradients for smooth
        transitions from light to dark, emphasizing shadows for volume and form.
        My color palette, like a fairy tale, comprises a limited range
        reflecting the mood and emotion I aim to convey. Adding details is my
        favorite part, treating each hair strand and contour like a puzzle piece
        for a lively image. Once all details are in place, the final touch
        conveys both outward appearance and inner emotions through facial
        expressions
      </p>
    </div>

    <div class="process_image-wrapper-box">
      <div class="process_image-wrapper">
        <picture class="">
          <source
            srcset="
              ./images/project/process_defaultTel1x.jpg 1x,
              ./images/project/process_defaultTel2x.jpg 2x
            "
            media="(max-width: 767px )"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/project/process_defaultDesk1x.jpg 1x,
              ./images/project/process_defaultDesk2x.jpg 2x
            "
            media="(min-width: 768px )"
            type="image/jpeg"
          />
          <img
            class=""
            src="./images/project/process_defaultTel1x.jpg"
            alt="woman"
            width=""
          />
        </picture>

        <img
          class="process_arrow-tel"
          src="./images/project/VectorTel.jpg"
          alt="arrow"
        />
      </div>

      <img
        class="process_arrow-desk"
        src="./images/project/VectorDesk.jpg"
        alt="arrow"
      />

      <picture class="">
        <source
          srcset="
            ./images/project/process_drawnTel1x.jpg 1x,
            ./images/project/process_drawnTel2x.jpg 2x
          "
          media="(max-width: 767px )"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/project/process_drawnDesk1x.jpg 1x,
            ./images/project/process_drawnDesk2x.jpg 2x
          "
          media="(min-width: 768px )"
          type="image/jpeg"
        />
        <img
          class=""
          src="./images/project/process_drawnTel1x.jpg"
          alt="woman"
          width=""
        />
      </picture>
    </div>
  </div>
</section>

<!-- SECTIONS MY GOALS FOR PROJECT -->

<section class="goal">
  <div class="container">
    <h2 class="goal-title">
      My goal is to capture your most precious memories and moments in the best
      light.
    </h2>

    <ul class="goal_list">
      <li class="goal_list-item">
        <p class="goal_text">
          I sense your uniqueness and meticulously create each painting,
          reflecting personality and emotions
        </p>
      </li>
      <li class="goal_list-item">
        <p class="goal_text">
          I have experience working with various styles and painting techniques,
          which allows me to create high-quality artworks
        </p>
      </li>
      <li class="goal_list-item">
        <p class="goal_text">
          You will receive your painting in your chosen size and format as
          quickly as possible
        </p>
      </li>
      <li class="goal_list-item">
        <p class="goal_text">
          Your photograph comes to life, becoming a unique work of art
        </p>
      </li>
    </ul>

    <h2 class="goal-title-howdoes">How does it work?</h2>

    <ul class="goal_list">
      <li class="goal_list-item-backgrblue">
        <p class="goal_text">
          Choose the photo you'd like to transform into a painting and provide
          your preferences.
        </p>
      </li>
      <li class="goal_list-item-backgrblue">
        <p class="goal_text">Select the size and format of your painting.</p>
      </li>
      <li class="goal_list-item-backgrblue">
        <p class="goal_text">
          I will initiate the process of creating your artwork, carefully
          considering every detail.
        </p>
      </li>
      <li class="goal_list-item-backgrblue">
        <p class="goal_text">
          Your unique painting will be delivered to you with respect and care
        </p>
      </li>
    </ul>

    <p class="goal-text">
      Now, in a time when every photograph can become a masterpiece, your most
      cherished memories deserve a place on the walls of your home or personal
      space.
    </p>
    <h3 class="goal-text goal_order-text">
      Order your canvas now and bring your photos to life
    </h3>
  </div>
</section>

<!--Section Cash-back-->
<section class="cashback">
  <div class="container">
    <div class="cashback-box">
      <div class="cashback-text-block">
        <h2 class="text-block">Cashback on a picture</h2>
        <p class="cashback-discount">
          Get cashback of 10% of the cost of the painting by tagging my
          Instagram in your stories.
        </p>
        <p class="cashback-conditions">Conditions:</p>
        <p class="cashback-text">
          1. Place a photo of my painting on the page.
        </p>
        <p class="cashback-text">
          2.
          <span class="cashback_text-backgr"
            >Tag me Instagram<a
              class="cashback-links"
              href="https://www.instagram.com/lysiak_artist/?igshid=MzRlODBiNWFlZA%3D%3D"
              rel="noopener noreferrer"
              target="_blank"
              >@lysiak_artist</a
            ></span
          >
        </p>
        <p class="cashback-text">3. Write to me on social networks.</p>
      </div>
      <div class="cashback-picture">
        <picture class="">
          <source
            srcset="
              ./images/project/cashback-babyTel1x.jpg 1x,
              ./images/project/cashback-babyTel2x.jpg 2x
            "
            media="(max-width: 767px )"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/project/cashback-babyDesk1x.jpg 1x,
              ./images/project/cashback-babyDesk2x.jpg 2x
            "
            media="(min-width: 768px )"
            type="image/jpeg"
          />
          <img
            class="cashback-image"
            src="./images/project/cashback-babyTel1x.jpg"
            alt="Baby"
            width=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- SECTION PRICE FOR PROJECT -->

<section class="price">
  <div class="container">
    <h2 class="price_title">Price</h2>
    <ul class="price_list">
      <li class="price_item price_item-backgrpink">
        <p class="price_item-text">12х16” (30х40cm) - ($268.67 - $324.64)</p>
      </li>
      <li class="price_item">
        <p class="price_item-text">16х20” (40х50cm) - ($313.44 - $526.14)</p>
      </li>
      <li class="price_item price_item-backgrpink">
        <p class="price_item-text">A2 (42х60cm) - ($347.03 - $559.72)</p>
      </li>
      <li class="price_item">
        <p class="price_item-text">20x24” (50х60cm) - ($369.42 - $651.52)</p>
      </li>
      <li class="price_item price_item-backgrpink">
        <p class="price_item-text">50х70cm - ($436.58 - $1007.50)</p>
      </li>
    </ul>

    <form class="modal__form" autocomplete="off">
      <div class="form-field">
        <label class="form-field__label" for="name">Name</label>
        <input class="form-field__input" type="text" name="name" id="name" />
      </div>

      <div class="form-field">
        <label class="form-field__label" for="tel">Tel</label>
        <input class="form-field__input" type="tel" name="tel" id="tel" />
      </div>

      <div class="form-field">
        <label class="form-field__label" for="email">E-mail</label>
        <input class="form-field__input" type="email" name="email" id="email" />
      </div>

      <div class="form-field">
        <label for="fav">Choose your size</label>
        <input class="form-field__input" list="browsers" name="fav" id="fav" />

        <datalist id="browsers">
          <option>12х16” (30х40cm) ($268.67 - $324.64)</option>
          <option>16х20” (40х50cm) ($313.44 - $526.14)</option>
          <option>A2 (42х60cm) ($347.03 - $559.72)</option>
          <option>20x24” (50х60cm) ($369.42 - $651.52)</option>
          <option>(50х70cm) ($436.58 - $1007.50)</option>
        </datalist>
      </div>

      <div class="form-field">
        <label class="form-field__label" for="comment">Order preferences</label>
        <textarea
          class="form-field__comment"
          name="comment"
          id="comment"
          rows="5"
          placeholder="Введіть текст"
        ></textarea>
      </div>

      <button type="submit" class="button-submit">Відправити</button>
    </form>
  </div>
</section>
