<section class="hero">
  <div class="container">
    <h1 class="hero-title">TURN YOUR PHOTO INTO ART</h1>
    <div class="hero-container">
      <div>
        <h2 class="hero-text">Art Page of
          <span class="hero-text__name">Nadia Lysak</span>
        </h2>
        <button type="button" class="hero-button desktop-btn" data-modal-open>
          Order a painting
        </button>
      </div>
      <div class="hero-image-box"> <img class="hero-image-one"
          srcset="./images/art/hero-img-1.jpg 1x, ./images/art/hero-img-1@2x.jpg 2x"
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 354px, (min-width: 390px) 208px, 100vw"
          src="./images/art/hero-img-1.jpg" alt="Опис зображення для усіх версій" />
        <img class="hero-image-two" srcset="./images/art/hero-img-2.jpg 1x, ./images/art/hero-img-2@2x.jpg 2x"
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 354px, (min-width: 390px) 166px, 100vw"
          src="./images/art/hero-img-2.jpg" alt="Опис зображення для усіх версій" />
      </div>
      <button type="button" class="hero-button mobile-btn" data-modal-open>
        Order a painting
      </button>
      <img src="./images/art/hero-brush-img.png" class="hero-brush-img" alt="brush" width="450">
    </div>
  </div>
</section>