<section class="slider-section">
  <div class="slider-container container">
    <div class="top">
      <img src="./images/project/arrow.png" class="arrow left" alt="">
      <div class="frame">
        <div class="slider">
          <img loading="lazy"
          src="https://images.pexels.com/photos/13624057/pexels-photo-13624057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="580px" class="slider-image" />
          <img loading="lazy"
          src="https://images.pexels.com/photos/16946246/pexels-photo-16946246/free-photo-of-jedzenie-sztuka-apple-lato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="580px" class="slider-image" />
          <img loading="lazy"
          src="https://images.pexels.com/photos/13013196/pexels-photo-13013196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="580px" class="slider-image"/>
          <img loading="lazy"
          src="https://images.pexels.com/photos/16550561/pexels-photo-16550561/free-photo-of-gory-domy-wioska-lato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="580px" class="slider-image" />
          <img loading="lazy"
          src="https://images.pexels.com/photos/1365607/pexels-photo-1365607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="580px" class="slider-image" />
        </div>
      </div>
      <img loading="lazy" src="./images/project/arrow.png" class="arrow right" alt="">
    </div>
    <div class="bottom">
    </div>
  </div>

</section>


<!-- OLD SLIDER -->

<!-- <div class="container">
  <div class="slick-carousel">
    <div><img
        src="https://images.pexels.com/photos/16946246/pexels-photo-16946246/free-photo-of-jedzenie-sztuka-apple-lato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
    <div><img
        src="https://images.pexels.com/photos/13013196/pexels-photo-13013196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
    <div><img
        src="https://images.pexels.com/photos/16550561/pexels-photo-16550561/free-photo-of-gory-domy-wioska-lato.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
    <div><img
        src="https://images.pexels.com/photos/18185921/pexels-photo-18185921/free-photo-of-morze-plaza-piasek-relaks.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
    <div><img
        src="https://images.pexels.com/photos/13624057/pexels-photo-13624057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
    <div><img
        src="https://images.pexels.com/photos/1365607/pexels-photo-1365607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
  </div>
</div> -->