<!-- SECTION VERSE -->
<section class="verse">
  <div class="container">
    <picture class="">
      <source
        srcset="
          ./images/project/verseUp1xtel.jpg 1x,
          ./images/project/verseUp2xtel.jpg 2x
        "
        media="(max-width: 767px )"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/project/verseUp1xDesk.jpg 1x,
          ./images/project/verseUp2xDesk.jpg 2x
        "
        media="(min-width: 768px )"
        type="image/jpeg"
      />
      <img
        class="verse_arrow"
        src="./images/project/verseUp1xtel.jpg"
        alt="arrow"
        width=""
      />
    </picture>

    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <p class="verse_text">
      Lorem ipsum dolor sit amet consectetur. Vitae cursus arcu curabitur
      commodo nisi nunc nunc molestie metus. Massa volutpat dui dolor rhoncus
      nec integer a placerat mauris. volutpat dui dolor rhoncus nec integer a
      placerat mauris
    </p>
    <picture class="">
      <source
        srcset="
          ./images/project/verseDown1xtel.jpg 1x,
          ./images/project/verseDown2xtel.jpg 2x
        "
        media="(max-width: 767px )"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/project/verseDown1xDesk.jpg 1x,
          ./images/project/verseDown2xDesk.jpg 2x
        "
        media="(min-width: 768px )"
        type="image/jpeg"
      />
      <img
        class="verse_arrow"
        src="./images/project/verseDown1xtel.jpg "
        alt="arrow"
        width=""
      />
    </picture>
  </div>
</section>
